{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/donation.css') }}">
{% endblock %}

{% block main %}
    <div class="form-container">
        <p>This website concerns free, community-based, and open academic publishing. The non-technical and technical
            aspects of this project are described below.
            If you have any question, welcome to contact with us(1143647473@qq.com)!
        </p>
    </div>
{% endblock %}