{% extends 'base.html' %}

{% block title %}Article{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/detail.css') }}">
{% endblock %}

{% block main %}
    <br>
    <div class="detail-container">
        <h3 class="title" style="text-align: center;">TITLE.....</h3>
        <p class="article-info">
            <span class="article-author" style="padding-right: 10px">Author:XXXX</span>
            <span class="article-time">Time:XXXX:XX:XX</span>
        </p>
        <hr>
        <label for="abstract" class="control-label">Abstract: </label>
        <p class="abstract">1. Add a new comment to an article.
            2. Upvote this comment from IP address 1. Now the number of upvotes must be 1.
            3. Upvote this comment from IP address 2. Now the number of upvotes must be 2.
         </p>
        <hr>
        <a id="download" style="margin-left: 0px; font-size:16px" filename="" >Click here to download the article!</a>
        <div class="vote-group">

            <button type="button" class="btn btn-default btn-sm btn_liked">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span class="liked">(0)</span>
            </button>
            <button type="button" class="btn btn-default btn-sm btn_disliked">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span class="disliked">(0)</span>
        </div>
        <hr>
        <div class="myli"><br><p>  User Comment</p></div>
  <hr>
        <div class="comments">

{#        <div class="comment_item">#}
{#            <div class="comment_user">499887880@qq.com<span class="comment_time" style="float: right">2018.01.04 12:35</span><br></div>#}
{#            <textarea class="comment_content" readonly="readonly" rows="3">asdasdasdasdd</textarea>#}
{#        </div>#}
{#<hr>#}

        </div>
        <hr>
        <div class="myli"><br><p>  Send Comment</p></div>

            <div class="form-group" style="margin-top: 20px;">
                <input type="text" id="send_content" class="form-control" placeholder="Please enter your comment...">
            </div>
            <div class="form-group" style="text-align: right">
                <button id="send_btn" class="btn btn-primary">Commit</button>
            </div>

    </div>
    <script>
    var article_id1 = localStorage.getItem("article_id");
    if(article_id1==null) window.location.href="{{ url_for('main') }}";
    var file_address;
       $.ajax({
             type: "GET",
             url: "http://127.0.0.1:5000/getArticlesById",
           data:{id:article_id1},
             success: function(data){
                $(".title").html(data[0].title);
                $(".article-author").html("Author:  "+data[0].author)
                 $(".article-time").html("Time:   "+data[0].time)
                $(".abstract").html(data[0].content)
                 $("#download").attr("filename",data[0].filename)
                 file_address="http://127.0.0.1:5000/static/document/"+data[0].filename
                      },
            error: function (e) {

            }

         });

    updateliked();
    updatedisliked();

    $("#download").click(function () {
        window.location.href=file_address
    });


    function inputusername(){
	var x;
	var person=prompt("请输入你的名字","Harry Potter");
	return person;
}

$(".btn_liked").click(function () {
    var user = inputusername();
    $.ajax({
             type: "GET",
             url: "http://127.0.0.1:5000/getIsLiked",
           data:{aid:article_id1,reader:user},
             success: function(data){
                if(data==1){
                    alert("you had liked this article before");
                }
                else{
                    addliked(user);
                    sleep(500)
                    updateliked();
                    
                }
                      },
            error: function (e) {
            }
         });
})
    $(".btn_disliked").click(function () {
    var user = inputusername();
    $.ajax({
             type: "GET",
             url: "http://127.0.0.1:5000/getIsDisliked",
           data:{aid:article_id1,reader:user},
             success: function(data){
                if(data==1){
                    alert("you had disliked this article before");
                }
                else{
                    adddisliked(user);
                    sleep(500)
                    updatedisliked();

                }
                      },
            error: function (e) {
            }
         });
})
     $.ajax({
             type: "GET",
             url: "http://127.0.0.1:5000/getCommentByArticle",
            data:{aid:article_id1},
             success: function(data){
                if(data!=""){
                    for(var i=0;i<data.length;i++){
                       $(".comments").append("  <div class=\"comment_item\">\n" +
                    "            <div class=\"comment_user\">"+data[i].reader+"<span class=\"comment_time\" style=\"float: right\">"+data[i].time+"</span><br></div>\n" +
                    "            <div class=\"comment_content\" readonly=\"readonly\" rows=\"3\">"+data[i].content+"</div>\n" +
                    "        </div>\n" +
                    "<hr>\n" +
                    "      ")
                    }

                }
                else{
                    $(".comments").append("there are no comments")
                }
                      },
            error: function (e) {
            }
         });

    function addliked(user1){
        $.ajax({
             type: "GET",
             url: "http://127.0.0.1:5000/addLiked",
            data:{aid:article_id1,reader:user1},
             success: function(data){
                      },
            error: function (e) {
            }
         });
    }
    function adddisliked(user1){
        $.ajax({
             type: "GET",
             url: "http://127.0.0.1:5000/addDisliked",
            data:{aid:article_id1,reader:user1},
             success: function(data){
                      },
            error: function (e) {
            }
         });
    }
      function updateliked() {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/getCountLikedByAid",
            data: {aid: article_id1},
            success: function (data) {
                $(".liked").html("(" + data + ")")
            },
            error: function (e) {
            }
        });
    }
    function updatedisliked() {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/getCountDislikedByAid",
            data: {aid: article_id1},
            success: function (data) {
                $(".disliked").html("(" + data + ")")
            },
            error: function (e) {
            }
        });
    }
    $("#send_btn").click(function () {
        var cont = $("#send_content").val();
        var user = inputusername();
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/addComment",
            data: {aid: article_id1,reader:user,content:cont},
            success: function (data) {
                alert(data);
                window.location.reload()
            },
            error: function (e) {
            }
        });

    })
    function sleep(delay) {
  var start = (new Date()).getTime();
  while ((new Date()).getTime() - start < delay) {
    continue;
  }
}
    </script>

{% endblock %}
