{% extends 'base.html' %}

{% block title %}NewArticle{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/newArticle.css') }}">
{% endblock %}

{% block main %}
    <h3 class="page-tittle">Welcome to Publish Your Article!</h3>
    <br>
    <div action="" class="form-horizontal" method=post">
        <div class="form-container">
            <div class="form-group" style="margin-left: 5%">
                <label for="general-subject">General Subject: </label>
                <select class="form-control" id="gselected" style="width: 80%">
                    <option class="gs" gid="1">Physical Sciences</option>
                    <option class="gs" gid="2">Social Sciences</option>
                    <option class="gs" gid="3">Biological Sciences</option>
                    <option class="gs" gid="4">Computer Sciences</option>
                    <option  class="gs" gid="5">Statistics</option>
                    <option class="gs" gid="6">Mathematics</option>
                    <option class="gs" gid="7">Medical ScSciences</option>
                </select>
    </div>

    <div class="form-group" style="margin-left: 5%">
                <label for="general-subject">Special Subject: </label>
                <select class="form-control" id="sselected" style="width: 80%">
                    <option>please choose a general subject</option>
                </select>
    </div>
            <div class="form-group">
                <label for="tittle" class="control-label">Tittle: </label>
                <input id="title" type="text" placeholder="Enter the Tittle" name="tittle" class="form-control">
            </div>
            <div class="form-group">
                <label for="abstract" class="control-label">Abstract: </label>
                <textarea id="content" name="abstract" rows="5" placeholder="An Abstract..." class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="email" class="control-label">Email: </label>
                <input id="author" type="text" placeholder="Enter Your Email" name="tittle" class="form-control">
            </div>
            <div class="form-group">
                <form id="myf" style="float: left;width: 150px">
        <input type="file" name="articlePDF" id="InputFile" accept=".pdf" />
             <input type="text" value="1" name="index" id="index" style="display: none"/>
            <p class="help-block">please choose a txt file.</p>
        </form>
                <button class="btn1 btn btn-primary" >upload the file</button>
                <button class="btn btn-primary  btn-lg active btn2" type="submit" style="float:right">PUBLISH NOW</button>
            </div>
        </div>
    </div>
<script>
 var gid;
    var sid;
    var filename="";
    gid=$("option:selected","#gselected").attr("gid");
    $.ajax({
             type: "GET",
             url: "http://127.0.0.1:5000/getSubjectsByGS",
           data:{gsid:gid},
             success: function(data){
                        $("#sselected").html("")
                        for(var i=0;i<data.length;i++){
                            $("#sselected").append("<option sid=\""+data[i].sid+"\">"+data[i].sname+"</option>")
                        }
                        flag=1;
                      },
            error: function (e) {

            }
         });
    $("#gselected").on("change",function(){
        gid=$("option:selected",this).attr("gid");
       $.ajax({
             type: "GET",
             url: "http://127.0.0.1:5000/getSubjectsByGS",
           data:{gsid:gid},
             success: function(data){
                        $("#sselected").html("")
                        for(var i=0;i<data.length;i++){
                            $("#sselected").append("<option sid=\""+data[i].sid+"\">"+data[i].sname+"</option>")
                        }
                        flag=1;
                      },
            error: function (e) {

            }

         });
          sid=$("option:selected","#sselected").attr("sid");
    });

    $("#sselected").on("change",function(){
         sid=$("option:selected",this).attr("sid");

    });
$(".btn1").click(function () {
    var formData = new FormData($('#myf')[0]);
    $.ajax({
        type: "post",
        url: "http://127.0.0.1:5000/upload",
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
            filename=data;
            alert("上传成功")
        },
        error: function (e) {

        }

    });
})
$(".btn2").click(function () {
    var title = $("#title").val();
    var content= $("#content").val();
    var author = $("#author").val();
    if(filename!=""){
          $.ajax({
             type: "GET",
             url: "http://127.0.0.1:5000/addArticles",
            data:{subject:sid,title:title,content:content,author:author,filename:filename},
             success: function(data){
                        alert(data);
                      },
            error: function (e) {

            }

         });
    }
    else {
        alert("please choose a pdf file")
    }

})


</script>
{% endblock %}
