{% extends 'base.html' %}

{% block title %}Subject{% endblock %}
{% block head %}

{% endblock %}

{% block main %}

        <div class="form-inline" style="text-align: center">
            <div class="form-group">
                <label for="general-subject">General Subject: </label>
                <select class="form-control" id="gselected">
                    <option class="gs" gid="1">Physical Sciences</option>
                    <option class="gs" gid="2">Social Sciences</option>
                    <option class="gs" gid="3">Biological Sciences</option>
                    <option class="gs" gid="4">Computer Sciences</option>
                    <option  class="gs" gid="5">Statistics</option>
                    <option class="gs" gid="6">Mathematics</option>
                    <option class="gs" gid="7">Medical ScSciences</option>
                </select>
            </div>
            <div class="form-group">
                <label for="special-subject">Special Subject:</label>
                <input id="sub_content" type="special-subject" class="form-control" placeholder="Special Subject...">
            </div>
            <button id="add_btn" class="btn btn-default"> Create</button>
        </div>
    <script>
    var gid=1;
    $("#gselected").on("change",function() {
        gid = $("option:selected", this).attr("gid");
    });
    $("#add_btn").click(function () {
        var cont = $("#sub_content").val();
               $.ajax({
             type: "GET",
             url: "http://127.0.0.1:5000/addSubject",
           data:{gsid:gid,name:cont},
             success: function(data){
                        alert(data);
                      },
            error: function (e) {

            }

         });

    })
    </script>


{% endblock %}
